---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

// 1. Fetch all posts
const allPosts = await getCollection('blog');

// 2. Extract all tags, flatten them, and remove duplicates
const tags = [...new Set(allPosts.map((post) => post.data.tags || []).flat())];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`All Tags | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
				max-width: 100%;
				margin: 0 auto;
				padding: 2rem 1rem;
			}
			h1 {
				margin-bottom: 2rem;
				border-bottom: 1px solid rgb(var(--gray-light));
				padding-bottom: 1rem;
			}
			.tags-container {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
			}
			.tag-link {
				display: inline-block;
				padding: 0.8rem 1.5rem;
				background-color: rgb(var(--gray-light));
				color: rgb(var(--black));
				text-decoration: none;
				border-radius: 8px;
				font-weight: bold;
				font-size: 1.2rem;
				transition: background-color 0.2s, color 0.2s, transform 0.2s;
			}
            .tag-link:hover {
				opacity: 0.5;
				transform: translateY(-2px);
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Tag List</h1>
			<div class="tags-container">
				{tags.length > 0 ? (
					tags.map((tag) => (
						<a class="tag-link" href={`/tags/${tag}/`}>#{tag}</a>
					))
				) : (
					<p>No tags found yet.</p>
				)}
			</div>
		</main>
		<Footer />
	</body>
</html>